body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.only{
    font-size: 50px;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: blueviolet;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.header-area{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}