body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.only{
    font-size: 50px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
    text-align: center;
}
h4{
    font-size: 30px;
    text-align: center;
}
h5{
    font-size: 15px;
    text-align: center;
}
.start-area{
    font-size: 13px;
    text-align: center;
    color: dimgray;
}    
.end-area{
    text-align: center;
    font-weight: 700;
}

.main-area p{
    color: dimgray;
}
.name-highlight{
    color: blueviolet;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.dream-width{
    width: 30%;
    float: left;
    margin-left: 3%;
}
.dream-width img{
    width: 100%;
}
.header-area{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-color: violet;
    padding: 05px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, violet, blue);
}
.main-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.latest-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.khan-area p{
    text-align: center;
}
h6{
    font-size: 20px;
    text-align: center;
    
}
.khan-area{
    background-color: violet;
    padding: 03px 5px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, violet, blue);
    margin-left: 200px;
    margin-right: 100px;
}
footer p{
    text-align: center;
}
.footer-area{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
}